
html {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto; 
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  background-color: lightpink;
}



a{
  color: #FFE3E3;
}

a:hover {
  color: red;
}

nav {
  color: red;
}

body {
  cursor: url(https://cdn.glitch.com/a5006b24-870d-4b79-a4ed-e5d6a7b40705%2Fneallllll.png?v=1616679514087), auto;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  background-color: lightpink;
  overflow-y: hidden; 
  position: relative;
}

h1 {
  /* first page */
  font-family: "Helvetica";
  font-size: 120px;
  text-transform: uppercase;
  color: red;
  text-align: center;
  width: 1200px;
  padding-top: 15vh;
  padding-left: 9vw;
  line-height: 100px; 
  animation-name: titel;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  background-image: url(https://cdn.glitch.com/a5006b24-870d-4b79-a4ed-e5d6a7b40705%2FWORLD-WIdE-WEB.gif?v=1616658498402);
  background-repeat: no-repeat;
  height: 268px;
  background-position: left;
  padding-top:7%;
  background-size: 40%; 
}

@keyframes titel {
  0% {line-height: 25px; color: white;}
  50% {color: lightpink;}
  100% {line-height: 100px; color: red;}
}

.preamble {
  font-family: "Helvetica";
  font-size: 15px;
  color: white; 
  text-align: center; 
  display: inline-block;
  float: right;
  clear: right; 
  width: 900px;
  margin-right: 270px;
  margin-bottom: 4vh;
  position: absolute;
  bottom: 0;
  right: 0;
  animation-name: fadein;
  animation-duration: 8s;
}

@keyframes fadein {
  0%{color: lightpink;}
  100%{color: white;}
}

main p:nth-of-type(1) {
  /* slide 2 */
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  background-color: lightpink;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  padding-top: 30vh;
  padding-left: 25vh;
  padding-right: 25vh;
  background-image: url(https://cdn.glitch.com/a5006b24-870d-4b79-a4ed-e5d6a7b40705%2Fkodkodkodkodkod.gif?v=1616660351318);
  background-size: 35%;
  background-image-opacity: 0.1;
  font-family: "Helvetica";
  font-size: 40px;
  color: white;
  }

main p:nth-of-type(2) {
  /* slide 3 */
  width: 100%;
  scroll-snap-align: start;
  background-color: lightpink;
  color: red;
  margin: 0;
  box-sizing: border-box;
  padding-top: 80px;
  padding-left: 3vw;
  padding-right: 30vw;
}

@keyframes firstin {
  0% {color: lightpink;}
  100%{color: red;}
}

main p:nth-of-type(3) {
  width: 100%;
  scroll-snap-align: start;
  background-color: lightpink;
  color: red;
  margin: 0;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 15vw;
  padding-right: 30vw;
  animation-name: secondin;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}

@-webkit-keyframes secondin {
  0%{left: -100px;}
    100% { left: 0px; }
}

@keyframes secondin {
  0% {left: -100px;}
    100% { left: 0px; }
}

main p {
  font-family: "Helvetica";
  padding-left: 30vw;
  padding-right: 30vw;
  margin-bottom: 10px;

}

main blockquote:nth-of-type(1) {
  font-size: 25px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 90px;
  transform: translate(2000px, 0px);
  animation: text-uppe 30s;
  animation-timing-function: linear; 
  animation-iteration-count: infinite; 
}

@keyframes text-uppe {
  0% {transform: translate(2000px, 0px)}
  100% {transform: translate(-1300px, 0px)}
}

main p:nth-of-type(4) {
  color: red;
  scroll-snap-align: start;
  padding-top: 40px;
  margin-top: -10px;
  
}

main p:nth-of-type(5) {
  color: red;
  scroll-snap-align: start;
  padding-top: 50px;
  margin-top: 25vh;
  padding-right: 30vw;  
}

main p:nth-of-type(6) {
  color: red;
    scroll-snap-align: start;
  
  padding-right: 30vw;
}

main p:nth-of-type(7) {
  color: red;
    scroll-snap-align: start;
  
  padding-right: 30vw;
}

main p:nth-of-type(8) {
  color: red;
    scroll-snap-align: start;
  padding-right: 30vw;
  
}

main p:nth-of-type(9) {
  color: red;
    scroll-snap-align: start;
  padding-right: 30vw;
}

main p:nth-of-type(10) {
  color: red;
    scroll-snap-align: start;
  padding-right: 30vw;
}

main p:nth-of-type(11) {
  color: red;
    scroll-snap-align: start;
  padding-right: 30vw;
}

main p:nth-of-type(12) {
  color: red;
    scroll-snap-align: start;
  padding-right: 30vw;
}

main p:nth-of-type(13) {
  color: red;
    scroll-snap-align: start;
  padding-right: 30vw;
}

main p:nth-of-type(14) {
  color: red;
    scroll-snap-align: start;
  padding-right: 30vw;
}

main p:nth-of-type(15) {
  color: red;
    scroll-snap-align: start;
  padding-right: 30vw;
}

main p:nth-of-type(16) {
  color: red;
    scroll-snap-align: start;
  padding-right: 30vw;
}

main p:nth-of-type(17) {
  color: red;
    scroll-snap-align: start;
  padding-right: 30vw;
}

main blockquote:nth-of-type(2) {
  margin-top: 50px;
  margin-bottom: 50px;
}

main h3 {
  font-family: "Helvetica";
  font-size: 20px;
  scroll-snap-align: start;
  color: red;
  padding-left: 30vw;
  padding-right: 30vw; 
  margin-top: 0px;
  margin-bottom: 20px;
}

main li {
  font-family: "Helvetica";
  color: red;
  padding-right: 35vw;
  margin-bottom: 10px;
}

main ul {
    padding-left: 33vw;
    margin-bottom: 40px;
}

footer {
  width: 100%;
  height: 5vh;
  margin: 0; 
  font-family: "Helvetica";
  color: red;
  font-size: 20px;
  box-sizing: border-box;
  padding-top: 0vh;
  padding-left: 3vh;
  padding-right: 25vh;
  scroll-snap-align: start; 
}

aside {
  width: 100%;
  height: 50vh;
  background-color: lightpink; 
  margin: 0;
}

h2 {
  font-family: "Helvetica";
  font-size: 15px;
  text-align: right;
  padding-right: 38vw;
  margin: 0;
  color: red;
  background-color: red;
  margin-bottom: 40px;
}


h3 {
  margin-top: 20px;
  height: 7vh;
  color: red;
  font-family: "Helvetica";
  text-align: left;
  margin-left: 3vh;
}

blockquote {
  border-radius: 30px;
  font-family: "Helvetica";
  font-size: 25px;
  color: red;
  margin-bottom: 10px;
  margin-top: 30px;
  transform: translate(2000px, 0px);
  animation: text-uppe 30s;
  animation-timing-function: linear; 
  animation-iteration-count: infinite; 
}

@keyframes text-uppe {
  0% {transform: translate(2000px, 0px)}
  100% {transform: translate(-1300px, 0px)}
}






/* mindre skärmar */ 

@media all and (max-width: 900px) {
  

  main p:nth-of-type(3) {

}
  
  
}